body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #1c1c1c, #3b2100);
  margin: 0;
  color: #eee;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  background: #111;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(212,175,55,0.15);
}

h1 {
  color: #d4af37;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 25px;
  color: #bbb;
}

input, button {
  width: 95%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

input {
    width: 95%;
  background: #222;
  color: #eee;
  border: 1px solid #444;
}

button {
  background: #5c3a23;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #7a4d2d;
}

.admin-btn {
  background: #333;
  width: 100%;
}

.card {
  background: #1b1b1b;
  border-left: 5px solid #d4af37;
  padding: 18px;
  margin-top: 18px;
  border-radius: 8px;
}

.card-title {
  color: #d4af37;
  font-weight: bold;
}

.card-meta {
  font-size: 0.9em;
  color: #aaa;
}

.file-link {
  display: inline-block;
  margin-top: 8px;
  background: #5c3a23;
  padding: 6px 12px;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
}

.error {
  color: #ff6b6b;
  margin-top: 10px;
  text-align: center;
}
